<style>
    h1 {text-align: center;}
</style>


<h1>Hello {{ name }} I am Covid-Chatbot</h1>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="h4 pt-5"></label>
                    <textarea readonly class="form-control" id="chat-text" rows="20" style="width:100%; border:solid 2px orange;" ></textarea><br>
                </div>
                <div class="form-group">
                    <input class="form-control" id="input" type="text"></br>
                </div>
                <input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="Send">
            </form>
        </div>
    </div>
</div>

<script>
    document.querySelector('#submit').onclick = function (e) {
    const messageInputDom = document.querySelector('#input');
    const message = messageInputDom.value;
    chatSocket.send(JSON.stringify({
        'message': message,
        'username': "Me",
    }));
    messageInputDom.value = '';
};


const chatSocket = new WebSocket(
    'ws://' +
    location.host +
    '/chat' 
);

chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    console.log(data)
    let currentDate = new Date();
    let hours = currentDate.getHours();
    hours = (hours % 12) || 12;
    let time = hours + ":" + currentDate.getMinutes();
    document.querySelector('#chat-text').value += ("Me" + ': ' + data.message + '\n')
}
</script>